body{
    color: black;
    background-color: #dcdcdc;
}

*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

p{
    align-items: center;
    padding: 5%;
    font-family: 'avenir next';
}

nav{
    background-color: #af8ad2
}

.landing{
    display: flex;
    justify-content: space-around;
    background-color:#dcdcdc;
    margin: 2%;
}

.landing{
    animation-duration: 8s;
    animation-name: pop;
}

.landing :first-child{
    font-size: large;
}

@keyframes pop{
0%{ transform: translateX(0);}

10%{ transform:translateY(-10px);}

30%{ transform: translateY(30px);}

50%{ transform: translateY(20px)}

60%{ transform: translateY(10px);}

100%{transform: translateY(0px);}
}

.landing a{
    display: block;
    font-size: larger;
    justify-content: center;
    justify-self: center;
    background-color: #b995db;
    padding: 3%;
    margin: 15%;
}

.landing a:hover{
    background-color: #b88cc2;
    padding: 3%;
}


.sieraden{
    display: block;
}

.sieraden img{
width: 300px;
height: 300px;
border-radius: 30%;
padding: 5%;
background-color: #5ca17e;
}

.sieraden img:hover{
    background-color: #356c51;
}


.reclame{
    display: flex;
    justify-content: space-between;
    justify-self: center;
}
    

.home{
    display: flex;
    justify-content: space-between;
    justify-self: center;
}

.Buy{
    justify-content: center;
    margin: 10%;
    background-color: #5ca17e;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.Buy:hover{
    background-color: #356c51;
    color: #000000;
    transform: scale(1.1)
}

strike{
    color: #a66fb2;
}

figcaption{
    font-family: 'avenir next';
    margin-top: 5%;
}

li a{
        font-family: "Lucida Console", "Courier New";
}

h1,h2,h3,h4,h5{
    display: flex;
    padding: 2%;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

text{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #c9a6d1;
}

.winkelmand{
width: 25px;
height: 25px;
}


.sale2{
    background-color: #8dcbc8;
}

.Sale{
    font-family: 'Courier New', Courier, monospace;
    background-color: #8dcbc8;
}

.SALE{
    display: flex;
    justify-content: space-between;
    padding: 5%;
}


.SALE img{
width: 200px;
height: 200px;
}

li a{
    color: black;
    border-radius: 20%;
   text-decoration: none;
}

li{
    padding: 2%;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: white;
}

ul{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    list-style: none;
}
/* Dit is de afbeelding met verschillende sieraden op de homepagina*/
div{
    display: flex;
    justify-content: center;
    justify-self: center;
    padding: 2%;
}

.locatie{
    display: flex;
    justify-content: space-around;
    margin: 0%;
}

/* Voor het maken van de forms heb ik instructies van een video gevolgd voor de layout*/
.forms{
    display: flex;
    justify-content: center;
    justify-self: center;
    margin: 2%;
    padding: 5%;
    outline-color: transparent;
    cursor: pointer;
    border-radius: 5%;
}

form h2{
    color: #000000;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 1em;
}

form input{
    outline: transparent;
    background: whitesmoke;
    font-size: 1em;
    margin: 1em;
    width: 60%;
}

input{
    color: #000000;
    background: none;
    padding: 2%;
}

input:hover{
    color: #000000;
    background: white;
    border: #000000;
    padding:2%;
}

form button{
    padding: 1%;
    background: #5ca17e;
    color: rgb(0, 0, 0);
    font-size: 1em
}

form button:hover{
    background: #ce8edd;
}


.Zoek input{
    font-size: medium;
    background-color: white;
padding: 2%;
width: 500px;
}



.Overzicht{
 display: flex;
 justify-content: space-between;
 margin: 5%;
}

.Overzicht img{
   width: 400px;
   height: 400px;
}


.ring{
    display: flex;
    justify-content: space-between;
    margin: 2%;
    justify-self: center;
    border: #5ca17e;
    border-style: dotted;
}
.ring img{
    width: 300px;
    height: 300px;
}

.row1{
    display: flex;
    justify-content: space-around;
    justify-self: center;
    margin: 10%;
    border: #5ca17e;
}

.row2{
    display: flex;
    justify-content: space-between;
    justify-self: center;
    background-color: #dcdcdc;
    border-style: dotted;
    margin: 5%;
}

.row2 img{
    width: 300px;
    height: 300px;
}


/* Met deze code heb ik de slider gemaakt.*/
.media-scroller {
display: grid;
gap:10%;
grid-auto-flow: column;
grid-auto-columns: 40%;
overflow-x: auto;
overscroll-behavior-inline: contain;
margin: 5%;
}

/* Dit is een slider voor de reviews.*/
.media-scroller1 {
    display: grid;
    gap:2%;
    grid-auto-flow: column;
    grid-auto-columns: 60%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    }

.media-scroller{
animation-duration: 5s;
animation-name: slide;
}

/* Dit geeft de gebruiker een extra hint dat er een scrollbalk aanwezig is*/
@keyframes slide{
0%{ transform: translateX(0);}

30%{ transform: translateX(30px);}

50%{ transform: translateX(20px)}

60%{ transform: translateX(10px);}

80%{ transform: translateX(-10px);}

90%{transform: translateX(10px);}

100%{transform: translateY(0px);}
}

.media-scroller--with-groups {
grid-auto-columns: 80%;
}

.media-group {
display: grid;
row-gap: 10%;
grid-auto-flow: column;
}

.media-element > img {
inline-size: 100%;
object-fit: cover;
}

/* Hiermee begint de scroller bij de eerste afbeelding.*/
.snaps-inline {
scroll-snap-type: inline mandatory;
scroll-padding-inline: var(--_spacer, 1rem);
}

.snaps-inline > * {
scroll-snap-align: start;
}

/* Dit zorgt ervoor dat de afbeeldingen goed meeschalen*/
@media (max-width:1100px){.Overzicht img{
    width: 300px;
    height: 300px;
 }
}
 /* Dit zorgt ervoor dat de afbeeldingen goed meeschalen */
@media (max-width:900px){.Overzicht img{
    width: 200px;
    height: 200px;
 }
}

.social{
    justify-content: center;
    justify-self: center;
}

.social img{
    width: 250px;
    height: 80px;
}
/* Bij kleine devices staat de informatie naast elkaar*/
footer{
    background-color: #7fc9a4;
    display: flex;
        justify-content: space-between;
   
}
/* Bij grote devices staat de informatie onder elkaar*/
@media (max-width:900px){footer{
    background-color: #7fc9a4;
    display: block;
    font-size: small;
}
}
